@model Hospital.Models.Therapy

@{
    ViewBag.Title = "Ștergere";
}

<h2>Ștergere</h2>

<h3>Sunteți sigur ?</h3>
<div>
    <h4>Medicamente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.NameSurName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.NameSurName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnose)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ștergere" class="btn btn-default" /> |
            @Html.ActionLink("Înapoi", "Index")
        </div>
    }
</div>
